$background-color: rgba(39, 132, 199, 0.297);
$border-color: rgb(6, 34, 85);
$loading-mask-color: rgba(159, 161, 126, 0.297);
$small-font-size: 8px;
$medium-font-size: 14px;
$larger-font-size: 25px;
$x-larger-font-size: 30px;
$xxl-larger-font-size: 45px;
