$background-color: rgba(39, 132, 199, 0.297);
$secondary-background-color: rgba(173, 180, 191, 0.223);
$border-color: rgb(6, 34, 85);
$underline-color: rgb(4, 12, 36);
$font-color: rgb(9, 27, 66);
$loading-mask-color: rgba(159, 161, 126, 0.297);
$light-blue: rgb(148, 169, 183);
$small-font-size: 8px;
$medium-font-size: 14px;
$larger-font-size: 25px;
$x-larger-font-size: 30px;
$xxl-larger-font-size: 45px;
