@import './../../variables/variables.scss';

span {
  position: relative;
  width: 70%;
  padding: 10px 0;
  font-size: x-large;
  &::before {
    position: absolute;
    content: '';
    top: 40px;
    width: 100%;
    height: 2px;
    background-color: $light-blue;
  }
  input {
    outline: none;
    background: none;
    border: none;
    width: 100%;
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
    font-size: x-large;
    color: rgb(9, 27, 66);

    &:focus {
      &::placeholder {
        font-size: 0px;
        transition: 0.5s;
      }
    }

    &::placeholder {
      transition: 0.5s;
      color: rgba(9, 27, 66, 0.623);
    }
  }
}
