input[type='button'],
input[type='submit'] {
  width: fit-content;
  border: none;
  border-radius: 2px;
  height: 40px;
  padding: 0 20px;
  box-sizing: border-box;
  color: rgb(9, 27, 66);

  text-transform: uppercase;
  font-weight: 900;
  transition: 0.1s;

  &:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(9, 27, 66);
  }

  &:active {
    scale: 0.9;
  }
}
